body{
    font-family: sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(makanan.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
}
h5{
    font-family: bowlist;
	text-align: left;
	color: #ffffff;
    font-weight: 200;
    font-size: 20pt;
}
h1{
    font-family: bowlist;
	text-align: center;
	color: #ffffff;
    font-weight: 200;
    font-size: 60pt;
}
.yoamanta{
	font-size: 20PT;
    text-align:left;
    color: #ffffff;   
}
b{
    font-size: 20PT;
    text-align:center;
    color: #ffffff;   
}
a{
    font-size: 20PT;
    text-align:center;  
}

